@font-face {
font-family: 'GothamMediumRegular';
src: url('../fonts/GothamMediumRegular.eot');
src: url('../fonts/GothamMediumRegular.eot') format('embedded-opentype'),
url('../fonts/GothamMediumRegular.woff2') format('woff2'),
url('../fonts/GothamMediumRegular.woff') format('woff'),
url('../fonts/GothamMediumRegular.ttf') format('truetype'),
url('../fonts/GothamMediumRegular.svg#GothamMediumRegular') format('svg');
}
@font-face {
font-family: 'GOTHAMLIGHT';
src: url('../fonts/GOTHAMLIGHT.eot');
src: url('../fonts/GOTHAMLIGHT.eot') format('embedded-opentype'),
url('../fonts/GOTHAMLIGHT.woff2') format('woff2'),
url('../fonts/GOTHAMLIGHT.woff') format('woff'),
url('../fonts/GOTHAMLIGHT.ttf') format('truetype'),
url('../fonts/GOTHAMLIGHT.svg#GOTHAMLIGHT') format('svg');
}
@font-face {
font-family: 'gothambold1';
src: url('../fonts/gothambold1.eot');
src: local('gothambold1'), url('../fonts/gothambold1.woff') format('woff'), url('../fonts/gothambold1.ttf') format('truetype');
}
@font-face {
font-family: 'MOD20';
src: url('../fonts/MOD20.eot');
src: url('../fonts/MOD20.eot') format('embedded-opentype'),
url('../fonts/MOD20.woff2') format('woff2'),
url('../fonts/MOD20.woff') format('woff'),
url('../fonts/MOD20.ttf') format('truetype'),
url('../fonts/MOD20.svg#MOD20') format('svg');
}

body{ margin:0px; padding:0px; font-family: 'GothamMediumRegular'; }
a{ text-decoration: none; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
button{ text-decoration: none; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
a:hover{ text-decoration:none; }
ul{ margin:0px; padding:0px; }
ul li{ margin:0px; padding:0px; list-style-type:none; }
.img{ width:100%; }
.img-responsive{ display:inline-block; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-weight:normal;
    margin-top: 0px;
    margin-bottom: 20px;}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.full{ width:100%; float:left; }

header{ width:100%; float:left; background:#fff; padding:20px 0px; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.sticky{ position:relative;	z-index:1000; }
.fixed{ position:fixed; top:0; left:0; width:100%; padding:5px 0px; border-bottom:1px solid #ae926b; }
.container-fluid{ padding:0px; }
#navbar{ padding:0px; }
.navbar{ width:100%; float:left; background:none; padding:10px 0px 0px; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.navbar-default .navbar-nav > li > a{ font-size:16px; color:#1f2a43; text-transform:uppercase; margin:0px; padding:6px 11px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{ color: #b5985a; background:none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{ background:none; color:#b5985a; }
.navbar-nav{ padding-top:3px; }
.donate{ float:right; padding-top:0px; }
#navbar .donate li a{ background:#b5985a; border-radius:2px; color:#fff; padding:8px 17px 10px 13px; }
#navbar .donate li a:hover{ color:#1f2a43; }
.flex-control-nav{ display:none; }
.donate_section{ width:100%; float:left; padding:70px 0px 100px; }
.donate_section h3{ font-size:20px; color:#777777; line-height:33.33px; margin:0px 0px 50px; }
.donate_section h3 span{ color:#1f2a43; }
.donate_section .link{ background:#b5985a; color:#fff; padding:15px 35px; text-transform:uppercase; font-size:24px; font-family: 'GothamMediumRegular'; }
.donate_section .link:hover{ color:#1f2a43; }
.three_box{ width:100%; float:left; }
.three_box .row{ margin:0px; }
.three_box .box1{ min-height:407px; max-height:407px; text-align:center; background:#ececec; padding:40px 25px 30px; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
.three_box .box1 h2{ height:24px; font-size:20.83px; color:#000; margin:20px 0px 0px; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
.three_box .box1 h3{ font-size:20.83px; color:#747474; margin:0px; }
.three_box .box1 .more{ display:inline-block; margin-top:20px; font-size:20.83px; color:#555353; text-transform:uppercase; padding:15px 35px; border:1px solid #555353; }
.three_box .box1 .more:hover{ background:#b5985a; color:#fff; border-color:#b5985a; }
.three_box .box2{ min-height:407px; max-height:427px; text-align:center; position:relative; z-index:10; /*margin-top:-20px;*/ padding:40px 25px 30px; background:#ececec; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
.three_box .box2 img{ display:inline-block; margin:0px; }
.three_box .box2 h2{ height:24px; font-size:20.83px; color:#000; margin:0px; text-align:left; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
.three_box .box2 h3{ font-size:20px; color:#747474; margin:11px 0px 25px; text-align:left; }
.three_box .box2 .more{ display:inline-block; margin-top:20px; font-size:20.83px; color:#555353; text-transform:uppercase; padding:15px 35px; border:1px solid #555353; }
.three_box .box2 .more:hover{ background:#b5985a; color:#fff; border-color:#b5985a; }
.three_box .box2:before{ width:32px; height:100%; position:absolute; z-index:7; left:-21px; top:0px; content:""; background:url(../images/left-shadow.png) no-repeat top center; }
.three_box .box2:after{ width:32px; height:100%; position:absolute; z-index:7; right:-21px; top:0px; content:""; background:url(../images/right-shadow.png) no-repeat top center; }
.three_box .box3{ min-height:407px; max-height:407px; text-align:center; background:#ececec; padding:40px 25px 30px; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
.three_box .box3 h2{ height:24px; font-size:20.83px; color:#000; margin:22px 0px 4px; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; outline:none; }
.three_box .box3 h3{ font-size:20.83px; color:#747474; margin:0px; }
.three_box .box3 .more{ display:inline-block; margin-top:20px; font-size:20.83px; color:#555353; text-transform:uppercase; padding:15px 35px; border:1px solid #555353; }
.three_box .box3 .more:hover{ background:#b5985a; color:#fff; border-color:#b5985a; }
.press_news{ width:100%; float:left; padding:70px 0px 40px; }
.press_news .title{ font-size:25px; color:#1f2a43; margin:0px; text-transform:uppercase; }
.archive .press_news .title{ float: left; }
.press_news .news{ margin-top:26px; }
.press_news .news img{ float:left; margin-right:15px; }
.press_news .news h2{ font-size:16.67px; color:#b5985a; margin:0px; }
.press_news .news h4{ font-size:12px; color:#858585; margin:10px 0px; }
.press_news .news h4 span{ color:#b5985a; }
.press_news .news p{ font-size:14.58px; color:#5d5d5d; margin:0px 0px 10px; }
.press_news .news a{ font-size:13.33px; color:#b5985a; margin:0px; text-decoration:underline; }
.press_news .news a:hover{ color:#1f2a43; }
.team_section{ width:100%; float:left; padding:40px 0px; text-align:center; background:url(../images/team-bg.png) no-repeat center center #353f55; }
.team_section .owl-carousel .item span{ width:118px; height:118px; overflow:hidden; display:inline-block; border-radius:50%; border:7px solid #fff; }
.team_section .owl-carousel .item span img{ max-width:100%; height:auto; border-radius:34%; }
.team_section .owl-carousel .owl-wrapper-outer{ position:relative; z-index:100; }
.team_section .owl-carousel .item h2{ font-size:20.83px; color:#b5985a; margin:15px 0px 4px; text-transform:uppercase; }
.team_section .owl-carousel .item p{ font-size:12px; color:#fff; margin:0px; }
.team_title{ font-size:25px; color:#fff; margin:0px; text-transform:uppercase; }
.team_title2{ font-size:33.33px; color:#c5af85; margin:10px 0px 70px; text-transform:uppercase; }
.team_section .full{ width:100%; float:left; margin:50px 0px 10px; }
.team_section .full a{ display:inline-block; margin:0px 7px; font-size:16.67px; color:#fff; border:2px solid #fff; padding:13px 25px; text-transform:uppercase; }
.team_section .full a:hover{ background:#b5985a; color:#fff; }
.owl-buttons{ position:absolute; top:40%; left:-35px; right:-35px; }
.owl-buttons .owl-prev{ width:36px; height:65px; float:left; background:url(../images/prev.png) no-repeat; font-size:0px; }
.owl-buttons .owl-next{ width:36px; height:65px; float:right; background:url(../images/next.png) no-repeat; font-size:0px; }
.contact_form{width: 100%; float: none; clear: both; margin: 20px 0;}
.address{ width:100%; float:left; background:#ae926b; padding: 80px 20px; min-height: 330px; }
.address .fa{ font-size:24px; }
.address h2{ font-size:25px; color:#fff; text-transform:uppercase; margin:0px; }
.address p a{color:#fff!important;}
.address p{ font-size:16px; color:#fff; margin:15px 0px; background:url(../images/loc.png) no-repeat left center; padding-left:35px; }
.address p:last-child{ background:url(../images/email.png) no-repeat left center; }
.contact_form .form-group .form-control{ height:46px; background:#f8f8f8; border:1px solid #ccc; padding:10px 15px; font-size:16.67px; color:#a6a6a6; border-radius:0px; }
.contact_form .form-group .textarea{ height:169px; }
.contact_form .submit{ float:right; background:#ae926b; font-size:16.67px; color:#fff; text-transform:uppercase; border:none; padding:10px 40px; border-radius:0px; }
.contact_form .submit:hover{ color:#1f2a43; }
.contact_title{ font-size:25px; color:#000; margin:40px 0px; text-transform:uppercase; padding-left:70px; }
.flexslider .slides li{ position:relative; }
.flexslider .slides li span{ position:absolute; left:100px; right:100px; top:20%; text-align:center; }
.flexslider .slides li span h2{ font-size:138.94px; color:#fff; margin:5px 0px 40px;font-family: 'GothamMediumRegular'; /*font-family: 'MOD20';*/ line-height:100px; }
.flexslider .slides li span h3{ font-size:54.71px; color:#fff; margin:0px;font-family: 'GothamMediumRegular'; /*font-family: 'MOD20';*/ }
.flexslider .slides li span a{ display:inline-block; font-size:25px; color:#fff; padding:10px 25px; background:#b5985a; text-transform:uppercase; border:1px solid #b5985a; }
.flexslider .slides li span a:hover{ background:#1f2a43; border-color:#fff; }
/**** footer css ***/
footer{width:100%; float:left; background:#1f2a43; border-top:5px solid #ae926b; padding-top:47px; margin-top:47px; }
.footer_link{ width:100%; float:left; border-right:1px solid #475064; height:160px; }
.footer_link ul{ width:50%; float:left; display:inline; margin:0; }
.footer_link li{ width:100%; float:left; list-style:none; margin:7px 0px; }
.footer_link ul li a{ width:100%; float:left; text-decoration:none; text-align:left; color:#FFF; font-size:16.67px; }
.footer_link ul li a:hover{ color:#ae926b; }
.footer_icon{width:100%; float:left;  border-right:1px solid #475064; height:160px; }
.footer_icon ul{ width:100%; float:left; display:inline-block; text-align:center; margin:40px 0px 0px 0px;}
.footer_icon li{ width: calc(100% - 70px); float:none; display:inline-block; text-align:center; margin:0px 20px; list-style:none; }
.footer_icon ul li a{ width:100%; float:left; font-size:40px; color:#FFF; text-align:center; }
.footer_icon ul li a:hover{ color:#ae926b; }
.footer_donate{ width:100%; float:left; display:inline-block; text-align:center; text-align:center; }
.footer_donate h2{ font-size:20.83px; text-align:center; margin:0px 0px 30px 0px; line-height:33.33px; color:#FFF; }
.footer_donate p{ font-size:16.67px; text-align:center; margin:0; line-height:20.83px; color:#FFF; }
.footer_donate a{ text-transform:uppercase; display:inline-block; text-align:center; background:#ae926b; text-align:center; margin-top:45px; padding:15px 30px; color:#FFF; font-size:16.67px; }
.footer_donate a:hover{ color:#1f2a43;}
.footer_donate .fa-heart-o::before{ padding: 0 8px 0 0; }
.footer_border{ width:1px; height:160px; background:#475064; float:left; }
.copy_right{ width:100%; float:left; background:#1a2337; padding:25px 0px; margin-top:55px; }
.copy_right p{ font-size:12.5px; text-align:center;color:#FFF; line-height:20.83px; }

.three_box .box1:hover{ background: #1f2a43; }
.three_box .box2:hover{ background: #1f2a43; }
.three_box .box3:hover{ background: #1f2a43; }

.three_box .box1:hover h2{ color:#b5985a; font-size:26px; }
.three_box .box2:hover h2{ color:#b5985a; font-size:26px; }
.three_box .box3:hover h2{ color:#b5985a; font-size:26px; }
.three_box .box1:hover h3{ color:#fff; }
.three_box .box2:hover h3{ color:#fff; }
.three_box .box3:hover h3{ color:#fff; }
/*.three_box .box3:hover .img-responsive{ background:#fff; }*/
.three_box .box1:hover .more{ color:#fff; border:1px solid #fff; }
.three_box .box1:hover .more:hover{ background:#b5985a; color:#fff; border-color:#b5985a; }
.three_box .box2:hover .more{ color:#fff; border:1px solid #fff; }
.three_box .box2:hover .more:hover{ background:#b5985a; color:#fff; border-color:#b5985a; }
.three_box .box3:hover .more{ color:#fff; border:1px solid #fff; }
.three_box .box3:hover .more:hover{ background:#b5985a; color:#fff; border-color:#b5985a; }
/**** footer css end ***/

/* pga-hope page */
.inner_banner{ width:100%; float:left; }
.inner_content{ width:100%; float:left; background:#fff; padding:70px 0px; }
.inner_content img{ float:left; margin:0px 40px 20px 0px; }
.inner_content h2{ font-size:20.83px; color:#777777; margin:0px 0px 25px; line-height:33.33px; font-family: 'GOTHAMLIGHT'; }
.inner_content h2 span{ color:#b5985a; font-family: 'GothamMediumRegular'; }
.pga_hope_facts{ width:100%; float:left; background:#ededed; border-top:1px solid #e0dfdf; border-bottom:1px solid #e0dfdf; padding:70px 0px; }
.pga_hope_facts h2{ font-size:32.65px; color:#b5985a; margin:0px; text-align:center; font-family: 'gothambold1'; }
.pga_hope_facts p{ width:100%; float:left; font-size:20.83px; line-height:29.17px; margin:30px 0px 0px; color:#797979; font-family: 'GOTHAMLIGHT'; background:url(../images/bullet.png) no-repeat left 10px; padding-left:25px; }
.pga_hope_facts p span{ color:#b5985a; font-family: 'GothamMediumRegular'; }
.pga_hope_program{ width:100%; float:left; background:#fff; padding:70px 0px; }
.pga_hope_program h2{ font-size:32.65px; color:#b5985a; margin:0px; text-align:center; font-family: 'gothambold1'; }
.pga_hope_program p{ width:100%; float:left; font-size:20.83px; line-height:29.17px; margin:30px 0px 0px; color:#797979; font-family: 'GOTHAMLIGHT'; background:url(../images/bullet.png) no-repeat left 10px; padding-left:25px; }
.pga_hope_program p span{ color:#b5985a; font-family: 'GothamMediumRegular'; }
/* pga_works_team page */
.page_title{ width:100%; float:left; background:#082443; padding:87px 0px; text-align:center; }
.page_title h1{ font-size:57.32px; color:#b4975a; margin:0px; text-transform:uppercase; }
.works_content{ width:100%; float:left; background:#ededed; padding:70px 0px; border-top:1px solid #e0dfdf; border-bottom:1px solid #e0dfdf; }
.works_content.works2{ width:100%; float:left; background:#fff; padding:70px 0px; border-top:1px solid #e0dfdf; border-bottom:1px solid #e0dfdf; }
.works_content img{ float:left; margin:0px 40px 0px 0px; }
.works_content h2{ font-size:20.83px; color:#777777; margin:0px 0px 25px; line-height:33.33px; font-family: 'GOTHAMLIGHT'; }
.three_box .container .row .col-sm-4{ position: relative; text-align:center; }
.three_box .container .row .col-sm-4 .service_link_img{ min-height:235px; line-height:228px; display:inline-block; }
.three_box .container .row .col-sm-4 img { display:inline-block; -webkit-transition: -webkit-transform .25s ease-in-out; transition: transform .25s ease-in-out; }
.three_box .container .row .col-sm-4:hover img { -webkit-transform: scale(1.2); transform: scale(1.2); }
.works_content h2 span{ color:#b5985a; font-family: 'GothamMediumRegular'; }
.pga_works_team{ width:100%; float:left;  background:#fff; padding:70px 0px; }
.pga_works_team h2{ font-size:20.83px; color:#b5985a; margin:0px; font-family: 'gothambold1'; }
.pga_works_team h3{ font-size:20.83px; color:#646464; margin:5px 0px 15px; font-family: 'GOTHAMLIGHT'; }
.pga_works_team p{ font-size:18.75px; color:#6f6f6f; margin:0px; font-family: 'GOTHAMLIGHT'; border-top:1px solid #c4c4c4; padding-top:13px; text-align:justify; }
/*** inner_page pga-jr-league css ***/
.inner_video{ width:100%; float:left; background:#eaeaea; }
.inner_video img{ width:100%; float:left;  }
.inner_contant{ width:100%; float:left; padding:65px 0px 50px 0px; }
.inner_contant .contant_img{ width:100%; float:left; background:#efefef; text-align:center; display:inline-block; padding:75px 0px;  }
.inner_contant .contant_img img{ width:auto; float:none; text-align:center; display:inline-block; }
.inner_contant p{ font-size:20.83px; font-weight:300px; line-height:33.33px; color:#777777; margin:0px 0px 30px 0px; font-family: 'GOTHAMLIGHT';}
.inner_contant p span{ color:#b5985a; font-weight:300px; }
.inner_contant a{ width:auto; float:left; margin-top:60px; padding:20px 45px; font-size:25px; text-transform:uppercase; color:#FFF;  background:#b5985a; }
.inner_contant a:hover{ background:#1f2a43; }
.inner_our{ width:100%; max-width:1900px; float:none; margin-left:auto; margin-right:auto; background:#ededed; padding:58px 0px; border-bottom:1px solid #d5d5d5;border-top:1px solid #d5d5d5; }
.inner_our h2{ font-size:32.65px; line-height:41.97px; color:#b5985a;font-family: 'gothambold1'; margin:0; text-transform:uppercase; text-align:center; }
.inner_our ul{ width:100%; float:left; display:inline-block; text-align:center; margin-top:50px; }
.inner_our li{ width:auto; float:none; text-align:center; display:inline-block; margin:0px 50px; }
.inner_dicks{ width:100%; float:left; padding:75px 0px 80px 0px; }
.inner_dicks img{ width:100%; float:left;  height:357px;}
.inner_dicks h3{ font-size:18px; margin:0; text-align:left; color:#b5985a; line-height:29.17px; text-transform:uppercase; }
.inner_dicks p{ font-size:18.52px; margin: 30px 0 46px 0; line-height:29.17px; color:#777777px;  font-family: 'GOTHAMLIGHT'; }
.inner_dicks a{ width:184px; float:left; border:1px solid #777777; text-align:center; font-size:18.52px; line-height:29.17px; padding:13px 10px;
color:#777777; text-decoration:none; }
.inner_dicks a:hover{ border:1px solid #b5985a; background:#b5985a; color:#FFF;}
/*** inner_page pga-jr-league css  end ***/
/*** supporters css ***/
.supporters_main{ width:100%; max-width:1900px;  float:none; margin-right:auto; margin-left:auto; }
.support_title{ width:100%; float:left; background:#082443; padding:85px 0px; }
.support_title h2{ font-size:57.32px; color:#b4975a; margin:0; text-align:center; text-transform:uppercase; }
.suppor_contant{ padding: 25px 15px 15px 15px; }
.suppor_contant span{ width:100%; float:left; border-left:4px solid #b5985a; margin-bottom:30px;  padding: 0 15px; }
.suppor_contant span h2{ font-size:20.83px; color:#b5985a; margin:0px 0px 7px 0px; line-height:22px;  font-family: 'gothambold1'; }
.suppor_contant span p{ font-size:20.83px; color:#646464; margin:0; line-height:22px; font-family: 'GOTHAMLIGHT';  }
.suppor_deloitte{ background:#ededed; padding-top:80px; padding-bottom:20px; clear: both; }
.suppor_deloitte img{ width:100%; float:left; height:235px; }
.suppor_deloitte h2{ font-size:35.19px; line-height:29.17px; color:#b5985a; margin:0px 0px 25px 0px; text-transform:uppercase; }
.suppor_deloitte p{ font-size:18.52px; line-height:29.17px; color:#777777; margin:0; font-family: 'GOTHAMLIGHT'; }
.suppor_deloitte .p_mrg{ margin-top:40px; }
.suppor_deloitte .row_mrg{ margin-top:70px; }
/*** supporters css end ***/
.bg{ background: #c9c9c9; /* Old browsers */
background: -moz-linear-gradient(top, #c9c9c9 0%, #ffffff 74%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c9c9c9 0%,#ffffff 74%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c9c9c9 0%,#ffffff 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ }
.more_about{ width:100%; float:left; text-align:center; }
.more_about a{ width:auto; float:none; display:inline-block; margin-top:60px; padding:20px 45px; font-size:25px; text-transform:uppercase; color:#FFF;  background:#b5985a; }
.more_about a:hover{ background:#1f2a43; }

.press_news .news .img-responsive{ max-width:150px; max-height:150px; }
.single_section{ width:100%; float:left; margin-top:40px; }
.single_section .news{ padding-right:0px; }
.single_section .col-sm-10 h2{ font-size:24px; color:#b5985a; font-family:"gothambold1"; margin:0px; }
.single_section .col-sm-10 h4{ font-size:18px; color:#b5985a; font-family:"GothamMediumRegular"; margin:15px 0px; }
.single_section .col-sm-10 p{ font-size:18.52px; color:#777777; font-family:"GOTHAMLIGHT"; margin:0px 0px 15px; line-height:29.17px; }

@media(max-width:1200px){
.navbar-default .navbar-nav > li > a{ font-size:13px; }
.three_box .box1 .more{ font-size:16px; }
.three_box .box2 .more{ font-size:16px; margin-top:69px; }
.three_box .box3 .more{ font-size:16px; margin-top:32px; }
.three_box .box2 h2{ font-size:16px; }
.three_box .box2 h3{ font-size:13px; }
.three_box .box1 h2{ font-size:16px; }
.three_box .box1 h3{ font-size:16px; }
.three_box .box3 h2{ font-size:17px; }
.three_box .box3 h3{ font-size:17px; }
.press_news .news h2{ font-size:14px; }
.press_news .news p{ font-size:13px; }
.team_section .owl-carousel .item h2{ font-size:16px; }
.footer_icon li{ margin:0px 10px; }
.footer_donate p{ font-size:14px; }
.footer_donate a{ margin-top:20px; }
.flexslider .slides li span h3{ font-size:40px; }
.flexslider .slides li span h2{ font-size:80px; line-height:normal; margin:0px 0px 10px; }
.donate_section h3{ font-size:18px; line-height:normal; }
.inner_content h2{ font-size:16px; line-height:20px; }
.pga_hope_facts p{ font-size:16px; line-height:20px; }
.pga_hope_program p{ font-size:16px; line-height:20px; }
.works_content h2{ font-size:18px; line-height:26px; }
.footer_link ul li a{ font-size:13px; }
.pga_works_team h3{ font-size:18px; }
.pga_works_team p{ font-size:16px; }

.inner_contant{  padding: 45px 0 35px; }
.inner_contant p{ font-size:18px; }
.inner_contant a{ font-size:18px;  margin-top: 30px;  padding: 18px 40px; }
.inner_our h2{ font-size:28px; line-height:28px; }
.inner_dicks{  padding: 55px 0 50px; }
.inner_dicks h3{ font-size:17px; line-height:20px; }
.inner_dicks p{ font-size:17px; line-height:26px; }
.inner_dicks a{ width:165px; padding:10px 6px; }
/***/
.support_title{ padding:65px 0px; }
.support_title h2{ font-size:50px; }
.suppor_contant span{  margin-bottom: 40px; }
.suppor_contant span h2{ font-size:17px; line-height: 14px; }
.suppor_contant span p{ font-size:17px;  line-height: 14px; }
.suppor_deloitte{  padding-bottom:45px; padding-top: 45px; }
.suppor_deloitte h2{ font-size:32px; margin: 0 0 15px; }
.suppor_deloitte p{ font-size:16px; }
.suppor_deloitte .p_mrg{ margin-top:20px }
.suppor_deloitte img{ height:202px; }
.suppor_deloitte .row_mrg{ margin-top:40px; }

.three_box .box1:hover h2{ font-size:18px; }
.three_box .box2:hover h2{ font-size:18px; }
.three_box .box3:hover h2{ font-size:18px; }
.box2 .img-responsive{ max-width:110px; }
}
/* custom css */
header .col-sm-2 img {
    max-width: 60px;
}


@media(max-width:992px){
header .col-sm-9{ padding-left:0px; }
.navbar-default .navbar-nav > li > a{ padding:4px 7px; font-size:11px; }
#navbar .donate li a{ padding:5px 5px 6px 5px; }
.donate_section h3{ font-size:15px; line-height:normal; margin-bottom:25px; }
.donate_section a{ font-size:18px; }
.flexslider .slides li span h3{ font-size:20px; }
.flexslider .slides li span h2{ font-size:50px; }
.flexslider .slides li span a{ font-size:18px; }
.three_box .box1 .more{ padding:13px 10px; font-size:13px; }
.three_box .box2 .more{ padding:13px 10px; font-size:13px; margin-top:7px; }
.three_box .box3 .more{ padding:13px 10px; font-size:13px; }
.three_box .box2 img{ float:none; display:inline-block; margin:0px 0px 10px; }
.three_box .box2 h3{ font-size:11px; margin:7px 0px 13px; }
.address h2{ font-size:18px; }
.address p{ font-size:13px; }
.address{ padding:70px 15px; }
.contact_form .form-group .form-control{ font-size:14px; }
.footer_link ul li a{ font-size:11px; }
.footer_icon ul li a{ font-size:24px; }
.owl-buttons{ left:0px; right:0px; }
.owl-buttons .owl-prev{ width:20px; height:40px; background-size:100% 100%; }
.owl-buttons .owl-next{ width:20px; height:40px; background-size:100% 100%; }
.footer_donate a{ margin-top:10px; padding:5px 15px; font-size:15px; }
.works_content img{ max-width:340px; margin-right:15px; }
.works_content h2{ font-size:16px; margin-bottom:10px; }
.owl-buttons .owl-prev{ position:relative; z-index:100; }
.owl-buttons .owl-next{ position:relative; z-index:100; }
.three_box .box1 h3{ font-size:11px; }

.inner_contant a{ font-size:14px; margin-top: 20px; padding: 12px 25px; }
.inner_contant p{ font-size:14px; line-height:22px; margin-bottom:10px; }
.inner_contant .contant_img{ padding:31px 20px; }
.inner_our{ padding:40px 0px; }
.inner_dicks img{ height:250px; }
.inner_dicks a{ width:150px;  padding: 7px 6px; font-size:16px; }
.inner_dicks p{ font-size:14px;  margin: 15px 0 30px; line-height:19px; }
.inner_dicks h3{ font-size:14px; line-height:16px; }
.inner_dicks{ padding: 40px 0 35px; }
.inner_contant .contant_img{ margin-bottom:10px; }
.inner_contant{ padding: 20px 0 25px; }
.inner_contant p .br{ display:none; }
.inner_our{ padding:30px 0px; }
.inner_our h2{ font-size:20px; }
.inner_our ul{ margin-top:25px; }
.inner_dicks img{ height:auto; margin-bottom:15px; }
.inner_our li{ margin: 0 20px; }
/***/
.support_title{ padding:40px 0px; }
.support_title h2{ font-size:40px; }
.suppor_contant{ padding: 40px 0 15px; }
.suppor_contant span{  margin-bottom: 30px; }
.suppor_contant span h2{ font-size:15px; line-height: 14px; }
.suppor_contant span p{ font-size:15px;  line-height: 14px; }
.suppor_deloitte{  padding-bottom:35px; padding-top:35px; }
.suppor_deloitte h2{ font-size:27px; margin: 0 0 10px; line-height: 18px; }
.suppor_deloitte p{ font-size:14px; line-height:22px; }
.suppor_deloitte img{ height:202px; }
.suppor_deloitte .row_mrg{ margin-top:40px; }

.box2 .img-responsive{ max-height:140px; }
.three_box .box3 h3{ font-size:15px; }
.three_box .box1 .more{ margin-top:40px; }
.three_box .box3 .more{ margin-top:42px; }
}
.twotwo > .works_content > .container > .vc_column_container {
padding:0 15px;
}
@media(max-width:767px){
header{ padding:15px 0px; }
.navbar{ padding:0px; }
.navbar-brand{ display:block; padding:0px; }
.navbar-brand img{ max-height:45px; }
.container-fluid{ padding:0px 15px; }
#navbar{ padding:0px 15px; }
header .col-sm-9{ padding-left:15px; }
.navbar-default .navbar-toggle{ background:#1f2a43; border-color:#1f2a43; }
.navbar-default .navbar-toggle .icon-bar{ background:#fff; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background:#ae926b; border-color:#ae926b; }
.navbar-default .navbar-nav > li > a{ font-size:13px; padding:5px 15px; }
.donate{ float:left; }
#navbar .donate li a{ padding:5px 40px; }
/*.flexslider .slides li img{ min-height:240px; }*/
.flexslider .slides li span a{ font-size:14px; }
.donate_section{ padding:40px 0px; }
.donate_section a{ margin-bottom:25px; float:left; }
.three_box .box1{ padding:20px 15px; }
.three_box .box2{ margin:10px 0px; text-align:center; }
.three_box .box2 h2{ text-align:center; }
.three_box .box2 h3{ text-align:center; }
.three_box .box1 .more{ padding:7px 10px; }
.three_box .box2 .more{ padding:7px 10px; }
.three_box .box3 .more{ padding:7px 10px; }
.press_news{ padding:40px 0px; }
.press_news .news{ margin-top:20px; }
.team_title2{ font-size:20px; margin-bottom:20px; }
.team_title{ font-size:18px; }
.team_section .full a{ font-size:13px; }
.address{ padding:25px 20px; margin-top:15px; min-height:0px; }
.contact_title{ padding:0px; margin:40px 0px 15px; }
.contact_form .form-group .form-control{ font-size:16px; }
footer{ padding:25px 0px 0px; }
.footer_link{ height:auto; border:none; }
.footer_icon{ height:auto; border:none; }
.footer_icon ul{ margin:20px 0px; padding:10px 0px; border-top:1px solid #3b4c74; border-bottom:1px solid #3b4c74; }
.footer_donate h2{ margin-bottom:5px; }
.flexslider .slides li span{ left:10px; right:10px; }
.flex-direction-nav{ left:10px; right:10px; }
.three_box .box2:before{ display:none; }
.three_box .box2:after{ display:none; }
.inner_content .mg{ width:100%; float:left; text-align:center; }
.inner_content img{ margin:0px 0px 20px 0px; float:none; }
.inner_content{ padding:20px 0px; }
.pga_hope_facts{ padding:20px 0px; }
.pga_hope_facts h2{ font-size:22px; }
.pga_hope_program{ padding:20px 0px; }
.pga_hope_program h2{ font-size:22px; }
.page_title{ padding:25px 0px; }
.page_title h1{ font-size:30px; }
.pga_works_team h2{ margin-top:10px; }
.pga_works_team{ padding:25px 0px; text-align:center; }
.pga_works_team p{ margin-bottom:20px; }

.inner_dicks{ padding: 25px 0 25px; }
/****/
.suppor_deloitte img{ height:auto; margin-bottom:15px; }
.suppor_deloitte .row_mrg{ margin-top:20px; }

.single_section .news{ text-align:center; padding-right:15px; margin-bottom:40px; }
.single_section .col-sm-10 h2{ font-size:20px; }
.single_section .col-sm-10 p{ font-size:16px; line-height:24px; }
.pst_text{ font-family: 'GothamMediumRegular'; }
.three_box .box1:hover{ background: #ececec; }
.three_box .box2:hover{ background: #ececec; }
.three_box .box3:hover{ background: #ececec; }
.three_box .container .row .col-sm-4 .service_link_img {
    min-height: 0;
    line-height: 1.4em;
    display: block;
}
.three_box .container .row .col-sm-4:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.three_box .box1 {
    min-height: 0;
    max-height: 1000px;
}
.press_news .news .img-responsive {
    margin-bottom: 30px;
}
.mobilecenter{
    margin: 0 auto!important;
    display: table!important;
}
.twotwo > .works_content > .container > .vc_column_container {
padding:10x 0;
}
}
@media(max-width:620px){
.inner_dicks p{   margin: 15px 0 20px; }
.flexslider .slides li span h3{ font-size:16px; }
.flexslider .slides li span h2{ font-size:22px; }
}
@media(max-width:540px){
.flexslider .slides li span h2{ font-size:20px; }
.team_section .full a{ margin:10px 0px; }
.press_news .news h2{ font-size:13px; }
.press_news .news p{ font-size:12px; }
.works_content{ padding:25px 0px; }
.works_content .mg{ width:100%; float:left; margin-bottom:20px; }
.works_content .mg img{ max-width:100%; width:100%; }
.flex-direction-nav a{ width:26px; height:40px; background-size:200% 100%; }
}
@media(max-width:520px){
.inner_our li{ width:40%; margin: 0 10px; }
.inner_our{ padding: 20px 0; }
.inner_contant a{ font-size: 11px; margin-top: 10px; padding: 12px 13px; }
.inner_dicks a{ font-size: 13px; padding: 9px; width: 130px; line-height:20px;}
/****/
.support_title h2{ font-size:30px; }
.suppor_deloitte .p_mrg{ margin-top:5px; }
}
@media(max-width:420px){
/****/
.support_title h2{ font-size:25px; }
.suppor_contant{ padding: 25px 0 5px; }
.suppor_contant span{  margin-bottom: 20px; }
.suppor_contant span h2{ font-size:13px; }
.suppor_contant span p{ font-size:13px; }
.suppor_deloitte{ padding:25px 0px; }
/****/
.flexslider .slides li span{ top:10%; }
.flexslider .slides li span h3{ font-size:13px; }
.flexslider .slides li span h2{ font-size:17px; }
.flexslider .slides li span a{ font-size:13px; padding:5px 20px; }
}


.wpb_wrapper ul li {
    list-style-type: disc;
}

#gform_wrapper_1 {
    margin: 16px 0;
    max-width: 100%;
    background: #f5f5f5;
    padding: 40px;
}
@media(min-width:768px){
#gform_wrapper_1 input[type="text"], #gform_wrapper_1 input[type="email"], #gform_wrapper_1 input[type="number"], #gform_wrapper_1 input[type="password"], #gform_wrapper_1 select {
    max-width: 90%;
}
}


.press_news .news .img-responsive{
float:left;
width:160px;
}
.press_news .news .text-responsive{
width:calc(100% - 180px);
float:right;
}
.press_news .news .clearfix{
float:none;
clear:both;
}
.press_news .news .img-responsive img{
    max-width: 100%;
    padding: 3px!important;
    border: 1px solid #ccc;
    margin: 0!important;
}
.press_news .news h2 a{
    font-size: 16.67px;
    color: #b5985a;
    margin: 0px;
	text-decoration:none;
}
.page-numbers a, .page-numbers span {
    background: #ae926b!important;
}
.page-numbers .current, .page-numbers a:hover {
    background: #1f2a43!important;
}
.press_news .news p, .single_section p {
    font-family: 'GOTHAM';
}
.sidebarsection ul li{
    list-style-type: disc;
    margin: 0 0 5px 20px;
}
.sidebarsection ul li a {
    color: #fff;
}
.sidebarsection {
    padding: 20px;
    background: #AE916B;
    border-radius: 2px;
    color: #fff;
}
.sidebarsection *{
    color: #fff;
}
@media(max-width:768px){
.three_box .box2 , .three_box .box3 {
    min-height: 0;
    max-height: 100%;
}
}