  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/uploads/logo_tt.png">

    {% if page.title %}
        {% capture title_page %}{{ page.title | escape | capitalize }} - {{ site.title }}{% endcapture %}
    {% elsif site.sitelang == "en" %}
        {% capture title_page %}{{ page.title_en | escape | capitalize }} - {{ site.title }}{% endcapture %}
    {% elsif site.sitelang == "ja" %}
        {% capture title_page %}{{ page.title_ja | escape | capitalize }} - {{ site.title }}{% endcapture %}
    {% endif %}

    <title>{{ title_page }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flexslider.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/js_composer.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/YouTubePopUp.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/css/foogallery.css" rel="stylesheet">
    <link rel="stylesheet" id="gforms_reset_css-css" href="/css/formreset.min.css?ver=2.2.3.1" type="text/css" media="all">
    <link rel="stylesheet" id="gforms_formsmain_css-css" href="/css/formsmain.min.css?ver=2.2.3.1" type="text/css" media="all">
    <link rel="stylesheet" id="gforms_ready_class_css-css" href="/css/readyclass.min.css?ver=2.2.3.1" type="text/css" media="all">
    <link rel="stylesheet" id="gforms_browsers_css-css" href="/css/browsers.min.css?ver=2.2.3.1" type="text/css" media="all">


    <!--[if lt IE 9]>
    <script src="/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type="text/javascript" src="/js/jquery.json.min.js?ver=2.2.3.1"></script>
    <script type="text/javascript" src="/js/gravityforms.min.js?ver=2.2.3.1"></script>
    <script type="text/javascript" src="/js/jquery.maskedinput.min.js?ver=2.2.3.1"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/?ver=1.9.2.9"></script>
    <script type="text/javascript">
/* <![CDATA[ */
var gfp_stripe_js_vars = {"form_id":"1","publishable_key":"pk_live_vDkmzcNWdclMvJC5JFM73oQ7","creditcard_field_id":"13","allowed_funding_types":["credit","debit","prepaid","unknown"],"num_of_rules":"1","rule_field_info":{"creditcard_field_id":13,"street_input_id":"1_10_1","city_input_id":"1_10_3","state_input_id":"1_10_4","zip_input_id":"1_10_5","country_input_id":"1_10_6"},"rule_has_condition":"","conditional_field_id":"2","error_messages":{"funding":" cards are not accepted.","card_number":"Invalid card number.","expiration":" Invalid expiration date.","security_code":" Invalid security code.","cardholder_name":" Invalid cardholder name.","no_card_info":"Unable to read card information"}};
/* ]]> */
</script>
    <script type="text/javascript" src="/js/form-display.min.js?ver=1.9.2.9"></script>
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
