<ul class="nav navbar-nav">
  {% for link in include.nav %} {% assign current = nil %} {% if page.url == link.url %} {% assign current = 'active' %} {% endif %}
  {% if link.subpages %}
  <li>
    <a href="#">{{ link.item }}</a>
    <ul>
      {% for p in link.subpages %}
      <li class="{{ link.class }}"><a class="{{ current }}" href='{{ site.baseurl }}{{ link.url }}'>{{ p.item }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="{{ current }} {{ link.class }}">
    <a href='{{ site.baseurl }}{{ link.url }}'>{{ link.item }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


