---
layout: default
---

<div class="vc_row wpb_row vc_row-fluid vc_custom_1495870098709">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1495870066680">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  vc_custom_1496053869195">
          <div class="wpb_wrapper">
            <div class="inner_video">
              <div class="container">
                <div class=""><iframe class="embed-responsive-item" src="{{ page.video }}" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="100%"></iframe></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div id="important_class_add_cn_inner" class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="container">
            <div class="inner_contant">
              <div class="wpb_column vc_column_container vc_col-sm-4" id="left_col">
                <div class="vc_column-inner vc_custom_1495780582092">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495801673935">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="405" height="356" src="{{ page.pga_jr_image }}" class="vc_single_image-img attachment-full" alt=""></div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-8" id="right_col">
                <div class="vc_column-inner vc_custom_1495780538352">
                  <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1498681914337">
                      <div class="wpb_wrapper">
                        {{ page.pga_jr_league_text | markdownify }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if site.more_button_text %}
        <div class="more_about"><a href="{{ page.more_button_url }}" target="_blank">{{ page.more_button_text }}</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="inner_our">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>{{ page.our_partners_title }}</h2>
                <ul>
                  {% for partner in page.partners %}
                  <li><img class="img-responsive" src="{{ partner.partners_logo }}" alt="img"></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid add_cn vc_custom_1496225348160">
          <div class="inner_dicks">
            <div class="container">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1495785512039">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1495802024719">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="563" height="334" src="https://pgareach.org/wp-content/uploads/2017/05/inner-dks.jpg" class="vc_single_image-img attachment-large" alt="" srcset="https://pgareach.org/wp-content/uploads/2017/05/inner-dks.jpg 563w, https://pgareach.org/wp-content/uploads/2017/05/inner-dks-300x178.jpg 300w" sizes="(max-width: 563px) 100vw, 563px"></div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1496225412230">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <h3 class="wrapp">{{ page.dicks_title_text }}</h3>
                        <p>{{ page.dicks_description_text }}</p>
                        <p><a href="{{ page.dicks_more_button }}" target="_blank" rel="noopener"> + Read More</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
