---
layout: default
---

<div class="vc_row wpb_row vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1496042015452">
      <div class="wpb_wrapper">
        <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1510240696059">
          <div class="wpb_wrapper">
            <div class="inner_video">
              <div class="container">
                <div class=""><iframe class="embed-responsive-item" src="{{ page.video }}" width="100%" height="300&quot;" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div id="impo_class_add_cn_inner" class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="inner_content">
            <div class="container">
              <div class="wpb_column vc_column_container vc_col-sm-4" id="left_col_ss">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1500268176119">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="131" src="{{ page.pgahope_image }}" class="vc_single_image-img attachment-full" alt=""></div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-8" id="right_col_ss">
                <div class="vc_column-inner vc_custom_1495796397510">
                  <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                      <div class="wpb_wrapper">{{ page.pga_text | markdownify }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_row-fluid pga_hope_facts">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1495798575310">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  vc_custom_1495798658663">
          <div class="wpb_wrapper">
            <h2>{{ page.pga_hope_facts_title }}</h2>
          </div>
        </div>
        <div class="container">
          <div class="vc_row wpb_row vc_inner vc_row-fluid left_hope vc_column-gap-30">
            <div class="wpb_column vc_column_container vc_col-sm-6">
              <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                  <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1498505130188">
                    <div class="wpb_wrapper">
                      {{ page.pga_hope_facts_1_text | markdownify }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6">
              <div class="vc_column-inner vc_custom_1495799867696">
                <div class="wpb_wrapper">
                  <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1498505205315">
                    <div class="wpb_wrapper">
                      {{ page.pga_hope_facts_2_text | markdownify }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1498505273895 right_hope">
            <div class="wpb_wrapper">
              {{ page.pga_hope_facts_3_text | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_row-fluid pga_hope_program">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  vc_custom_1497542734543">
          <div class="wpb_wrapper">
            <h2>{{ page.pga_hope_program_title }}</h2>
          </div>
        </div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid container vc_column-gap-30">
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1500588986942">
                  <div class="wpb_wrapper">
                    {{ page.program_1_text | markdownify }}
                  </div>
                </div>
                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1500589003416">
                  <div class="wpb_wrapper">
                    {{ page.program_2_text | markdownify }}
                  </div>
                </div>
                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1500589019559">
                  <div class="wpb_wrapper">
                    {{ page.program_3_text | markdownify }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1500589034231">
                  <div class="wpb_wrapper">
                    {{ page.program_4_text | markdownify }}
                  </div>
                </div>
                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1500589048891">
                  <div class="wpb_wrapper">
                    {{ page.program_5_text | markdownify }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_row-fluid container">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <div id="foogallery-gallery-1076" class="foogallery-container foogallery-default foogallery-link-image foogallery-lightbox-foobox-free spacing-width-10 hover-effect-zoom  border-style-square-white alignment-center hover-caption-simple fbx-instance">
              {% for image in page.gallery %}
              <a href="{{ image.full_image }}" data-attachment-id="1077" class="fbx-link"><img src="{{ image.thumbnail_image }}" width="150" height="150"></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
